#mainlogo{
   
    width:40px;
    height:40px;
    border-radius:50%;
    margin-left:13px;
    margin-right:13px;
    box-shadow: 3px 3px;
    
}

:host ::ng-deep header {
  font-size:20px;
}

i
{
 
    width:30px;
    height:30px;
    border-radius:50%;
   
}


.divoption
{  
    background: linear-gradient(to right,#cac7c3,#181010) !important;
    width:200px;
    border-radius:20%;
     box-shadow: 5px 10px;
}

label
{
    margin-left:10px;
    margin-right:10px;
    color: red;
}


.container-item
{
    flex-direction:column;
    display:flex; 
    justify-content:center;
     align-items:center;
    //  width:100%;
     flex-wrap:wrap;
}

