ion-item
{
    color:grey;
    font-size: 20px;
    font-family: 'Lato', 'Arial', sans-serif;
    --highlight-color-focused: rgb(68, 0, 255) !important;
    --highlight-color-valid :green !important;
    --highlight-color-invalid :red !important;
    
   
}  


ion-item {
    --highlight-color-valid: green !important;
    --highlight-color-invalid: red  !important;
    --highlight-color-focused: blue !important;
  }

 p{
     color:red;
     font-size:18px ;
 }