
ion-button
{
    width:200px;
    height:40px;
    
    --border-radius: 50px;
 

}


ion-button.grey {
    --background:grey;
}

ion-button.green {
    --background:rgb(47, 226, 47);
}


* {
     color:white;
     font-size: 20px;
     font-family: 'Lato', 'Arial', sans-serif;
     font-weight: 200px;
      text-transform: capitalize;

 }  
 