<!-- <form>
<mat-form-field class="example-full-width">
  
  
  <input type="text"
         placeholder="{{options[keys[0]] | translate}}"
      
         matInput
         #lang
         [formControl]="myControl"
         [matAutocomplete]="auto">

  <mat-autocomplete  #auto="matAutocomplete" (optionSelected)='langChanged(lang.value)'
   >
    <mat-option *ngFor="let k of this.keys" [value]="k">
      {{this.options[k] | translate}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
</form> -->


<form class="example-form">
  <mat-form-field class="example-full-width">
   
    <input type="text"
           placeholder="{{options[keys[0]] | translate}}"
           #lang
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='langChanged(lang.value)'>
      <mat-option *ngFor="let option of filteredOptions | async"  value= "{{option}}" >
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>