<div [formGroup]="parentFormGroup">
<ion-item>
  <ion-label position="floating" > {{placeholder}}</ion-label>
  <ion-input  clearInput id="{{type}}"  type="{{type}}"   formControlName="{{type}}" required 
  onclick="this.type=='password'?this.value='':this.value=this.value"
  
  > </ion-input>
    
</ion-item>
<p *ngIf=' name.errors?.required && name.touched ' >{{'HOME.required' | translate}}</p>
   
<p *ngIf="name.errors?.minlength" >{{'HOME.min' | translate}}{{min}} {{'HOME.character' | translate}}</p>
<p *ngIf="name.errors?.maxlength" >{{'HOME.max' | translate}} {{max}} {{'HOME.character' | translate}}</p>
</div>