
<ion-header>
   
    
</ion-header>


<ion-content>
<form [formGroup]="formGroup">

<ion-grid>
    <ion-row>
        <ion-col>
            
            <!-- <app-ca-button [placeholder]="'customBtn'" ></app-ca-button> -->
        </ion-col>
        <ion-col>
            
            <app-cancel-button></app-cancel-button>
        </ion-col>
        <ion-col>
            
           <app-submit-button></app-submit-button>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            
           <!-- <app-ca-input [placeholder]="'custom innput'" [type]="'text'" [parentFormGroup]="formGroup"[min]="4" [max]="10" ></app-ca-input> -->
        </ion-col>
        <ion-col>
            
           <app-password-input [parentFormGroup]="formGroup"></app-password-input>
           
        </ion-col>
        <ion-col>
            
            <!-- <app-number-input></app-number-input> -->
            
         </ion-col>

        
    </ion-row>


   
</ion-grid>
</form>

</ion-content>